{% if product.available == true %}
<div class="hentibutikk-e2" style="width: 50%; padding-top: 2%;">
<a href="/pages/hent-i-asker"><?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" viewBox="0 0 200 45" overflow="visible" xml:space="preserve">
<g>
	<g>
		<path d="M60.39,41.36H28.06V24.68H12.28v16.68H3.52V1.74h56.87V41.36z M29.53,39.89h29.39V3.21H4.99v36.68h5.81V23.21h18.72V39.89
			z"/>
	</g>
	<g>
		<path d="M13,6.61h3.1c2.04,0,3.78,0.47,3.78,3.11c0,1.44-0.66,2.19-1.75,2.39c1.38,0.18,2.11,1.17,2.11,2.86
			c0,2.46-1.31,3.52-3.59,3.52H13V6.61z M16.14,11.36c1.19,0,1.44-0.57,1.44-1.57c0-0.94-0.51-1.42-1.5-1.42h-0.45v2.99H16.14z
			 M16.18,16.65c1.16,0,1.53-0.59,1.53-1.73c0-1.33-0.4-1.83-1.54-1.83h-0.54v3.56H16.18z"/>
		<path d="M21.62,6.61h3.1c2.04,0,3.78,0.47,3.78,3.11c0,1.44-0.66,2.19-1.75,2.39c1.38,0.18,2.11,1.17,2.11,2.86
			c0,2.46-1.31,3.52-3.59,3.52h-3.65V6.61z M24.76,11.36c1.19,0,1.44-0.57,1.44-1.57c0-0.94-0.51-1.42-1.5-1.42h-0.45v2.99H24.76z
			 M24.81,16.65c1.16,0,1.53-0.59,1.53-1.73c0-1.33-0.4-1.83-1.54-1.83h-0.54v3.56H24.81z"/>
	</g>
	<g>
		<rect x="11.54" y="26.73" width="17.25" height="1.47"/>
	</g>
	<g>
		<rect x="11.54" y="31.13" width="17.33" height="1.47"/>
	</g>
	<g>
		<rect x="11.5" y="39.89" width="17.33" height="1.47"/>
	</g>
</g>
<g>
	<polygon fill="#FFFFFF" stroke="#8D191B" stroke-miterlimit="10" points="37.84,40.79 32.69,40.79 35.27,33.84 41.02,33.84 
		44.51,28.09 63.74,28.09 62.83,40.79 	"/>
	<circle fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" cx="42.52" cy="40.79" r="3.17"/>
	<circle fill="#FFFFFF" stroke="#000000" stroke-miterlimit="10" cx="57.38" cy="40.79" r="3.17"/>
</g>
<g>
	<path d="M69.67,4.62h4.21v7.71h2.94V4.62h4.23v19.05h-4.23v-8.32h-2.94v8.32h-4.21V4.62z"/>
	<path d="M83.44,19.36v-4.99c0-2.92,1.79-4.54,4.73-4.54c3.01,0,4.51,1.58,4.51,4.54v2.73h-5.46v2.61c0,1.06,0.38,1.46,0.94,1.46
		c0.56,0,0.99-0.33,0.99-1.32v-1.43h3.53v1.32c0,2.75-1.69,4.16-4.51,4.16C85.21,23.9,83.44,22.25,83.44,19.36z M89.16,15.31v-1.36
		c0-1.08-0.42-1.39-1.01-1.39c-0.56,0-0.92,0.35-0.92,1.6v1.15H89.16z"/>
	<path d="M94.78,10.07h3.83v1.36c0.99-0.99,2.07-1.6,3.27-1.6c1.67,0,2.52,1.36,2.52,3.17v10.65h-3.81V13.55
		c0-0.66-0.19-1.01-0.78-1.01c-0.31,0-0.75,0.19-1.2,0.49v10.63h-3.83V10.07z"/>
	<path d="M107.09,19.97v-7.38h-1.32v-2.52h1.32V5.93h3.88v4.14h1.93v2.52h-1.93v7.01c0,0.78,0.49,1.11,1.2,1.11
		c0.4,0,0.75-0.05,1.04-0.09v3.01c-0.42,0.07-1.39,0.19-2.3,0.19C107.82,23.8,107.09,22.42,107.09,19.97z"/>
	<path d="M121.04,5.11h3.86v2.66h-3.86V5.11z M121.06,10.07h3.83v13.59h-3.83V10.07z"/>
	<path d="M136.18,4.62h4.8l3.55,19.05h-3.88l-0.63-4.02h-2.8l-0.66,4.02h-3.97L136.18,4.62z M139.61,17.12l-1.01-7.43l-1.01,7.43
		H139.61z"/>
	<path d="M145.51,20.49l2.61-1.15c0.49,1.22,1.18,1.97,2,1.97c0.59,0,0.89-0.26,0.89-0.71c0-0.73-0.47-1.13-1.88-2.3l-0.99-0.82
		c-1.43-1.22-2.33-2.21-2.33-3.9c0-2.21,1.95-3.74,4.18-3.74c2.23,0,3.76,1.27,4.37,3.5l-2.47,1.13c-0.28-0.87-0.96-1.95-1.81-1.95
		c-0.52,0-0.82,0.31-0.82,0.78c0,0.59,0.71,1.25,1.9,2.21l0.96,0.85c1.18,0.99,2.45,2.12,2.45,3.86c0,2.37-2,3.69-4.16,3.69
		C148.05,23.9,146.5,22.91,145.51,20.49z"/>
	<path d="M156.21,4.62h3.81v10.56l3.34-5.1h4.3l-3.62,5.57l3.57,8.02h-4.19l-2.4-6.47l-1.01,1.29v5.17h-3.81V4.62z"/>
	<path d="M168.53,19.36v-4.99c0-2.92,1.79-4.54,4.73-4.54c3.01,0,4.51,1.58,4.51,4.54v2.73h-5.46v2.61c0,1.06,0.38,1.46,0.94,1.46
		s0.99-0.33,0.99-1.32v-1.43h3.53v1.32c0,2.75-1.69,4.16-4.51,4.16C170.29,23.9,168.53,22.25,168.53,19.36z M174.24,15.31v-1.36
		c0-1.08-0.42-1.39-1.01-1.39c-0.56,0-0.92,0.35-0.92,1.6v1.15H174.24z"/>
	<path d="M179.91,10.07h3.83v2.26c0.87-1.55,1.65-2.42,2.92-2.42c0.23,0,0.42,0.02,0.59,0.07v3.81c-0.35-0.14-0.78-0.28-1.25-0.28
		c-0.89,0-1.65,0.52-2.26,1.32v8.84h-3.83V10.07z"/>
</g>
<g>
	<path d="M90.6,28.91h2.15v3.97l1.63-3.97h2.1l-1.8,4.39l1.88,5.33h-2.18l-1.4-4.29l-0.23,0.38v3.91H90.6V28.91z"/>
	<path d="M97.38,28.91h1.94v9.71h-1.94V28.91z"/>
	<path d="M100.4,37.05c0-1.73,1.55-2.27,2.85-2.72v-0.7c0-0.36-0.08-0.61-0.41-0.61c-0.33,0-0.42,0.24-0.43,0.55l-0.05,0.5
		l-1.82-0.07c0.07-1.67,0.86-2.43,2.48-2.43c1.4,0,2.1,0.86,2.1,2.09v3.24c0,0.86,0.06,1.39,0.12,1.73h-1.75
		c-0.05-0.37-0.13-0.9-0.16-0.98c-0.17,0.58-0.6,1.1-1.33,1.1C100.95,38.75,100.4,37.87,100.4,37.05z M103.26,37.08v-1.9
		c-0.65,0.37-1.09,0.79-1.09,1.49c0,0.47,0.2,0.76,0.54,0.76C102.94,37.43,103.12,37.26,103.26,37.08z"/>
	<path d="M106.32,31.69h1.96v1.15c0.44-0.79,0.84-1.24,1.49-1.24c0.12,0,0.22,0.01,0.3,0.04v1.94c-0.18-0.07-0.4-0.14-0.64-0.14
		c-0.46,0-0.84,0.26-1.15,0.67v4.51h-1.96V31.69z"/>
	<path d="M113.96,31.69h1.96v0.5c0.47-0.42,1.02-0.62,1.5-0.62c1.06,0,1.49,0.91,1.49,2.04v2.99c0,1.3-0.53,2.15-1.51,2.15
		c-0.5,0-1.02-0.25-1.48-0.65v2.81h-1.96V31.69z M116.95,36.71v-3.24c0-0.4-0.14-0.72-0.48-0.72c-0.2,0-0.4,0.1-0.55,0.24v4.32
		c0.17,0.11,0.34,0.18,0.52,0.18C116.8,37.49,116.95,37.14,116.95,36.71z"/>
	<path d="M119.84,37.05c0-1.73,1.55-2.27,2.85-2.72v-0.7c0-0.36-0.08-0.61-0.41-0.61c-0.33,0-0.42,0.24-0.43,0.55l-0.05,0.5
		l-1.82-0.07c0.07-1.67,0.86-2.43,2.48-2.43c1.4,0,2.1,0.86,2.1,2.09v3.24c0,0.86,0.06,1.39,0.12,1.73h-1.75
		c-0.05-0.37-0.13-0.9-0.16-0.98c-0.17,0.58-0.6,1.1-1.33,1.1C120.39,38.75,119.84,37.87,119.84,37.05z M121.05,29.86
		c0-0.88,0.63-1.32,1.39-1.32s1.42,0.46,1.42,1.32c0,0.86-0.65,1.31-1.42,1.31C121.69,31.17,121.05,30.72,121.05,29.86z
		 M122.7,37.08v-1.9c-0.65,0.37-1.09,0.79-1.09,1.49c0,0.47,0.2,0.76,0.54,0.76C122.38,37.43,122.56,37.26,122.7,37.08z
		 M123.04,29.86c0-0.35-0.2-0.63-0.6-0.63c-0.38,0-0.59,0.29-0.59,0.63c0,0.34,0.2,0.62,0.59,0.62
		C122.84,30.48,123.04,30.19,123.04,29.86z"/>
	<path d="M128.82,35.58v-3.51c0-1.89,0.52-3.29,2.67-3.29c1.86,0,2.47,0.88,2.47,2.5c0,0.06,0.01,0.12,0.01,0.17h-1.88
		c0-0.78-0.05-1.15-0.59-1.15c-0.55,0-0.65,0.42-0.65,1.93v0.86c0.19-0.34,0.66-0.52,1.2-0.54c1.54-0.04,2.1,1.21,2.1,2.79
		c0,2.04-0.61,3.43-2.65,3.43C129.6,38.77,128.82,37.43,128.82,35.58z M132.14,35.65c0-0.95-0.01-1.57-0.64-1.57
		c-0.3,0-0.55,0.22-0.65,0.38v1.58c0,0.66,0.13,1.25,0.67,1.25C132.07,37.29,132.14,36.74,132.14,35.65z"/>
	<path d="M135.3,36.02v-4.4c0-1.7,0.83-2.85,2.65-2.85c1.81,0,2.64,1.15,2.64,2.85v4.4c0,1.63-0.91,2.78-2.64,2.78
		C136.2,38.81,135.3,37.68,135.3,36.02z M138.55,35.98v-4.31c0-0.4,0-1.12-0.6-1.12c-0.61,0-0.6,0.72-0.6,1.12v4.31
		c0,0.37,0.05,1.04,0.6,1.04C138.51,37.02,138.55,36.35,138.55,35.98z"/>
	<path d="M144.93,31.69h1.92v0.55c0.5-0.49,1.07-0.68,1.64-0.68c0.55,0,0.97,0.29,1.19,0.83c0.54-0.61,1.15-0.83,1.76-0.83
		c0.82,0,1.34,0.62,1.34,1.68v5.38h-1.92v-5.18c0-0.38-0.13-0.54-0.41-0.54c-0.17,0-0.43,0.1-0.65,0.25v0.08v5.38h-1.9v-5.18
		c0-0.38-0.14-0.54-0.42-0.54c-0.18,0-0.42,0.1-0.65,0.25v5.47h-1.92V31.69z"/>
	<path d="M153.97,29.16h1.97v1.36h-1.97V29.16z M153.98,31.69h1.95v6.93h-1.95V31.69z"/>
	<path d="M157.15,31.69h1.96v0.7c0.5-0.5,1.06-0.82,1.67-0.82c0.85,0,1.28,0.7,1.28,1.62v5.43h-1.94v-5.16c0-0.34-0.1-0.52-0.4-0.52
		c-0.16,0-0.38,0.1-0.61,0.25v5.42h-1.96V31.69z"/>
	<path d="M163.17,36.8h1.85v1.82h-1.85V36.8z M163.21,28.94h1.94l-0.71,7.22h-0.67L163.21,28.94z"/>
</g>
</svg>
</a>
  
</div>


{% comment %}<script>

<div class="container">
  <h2>timed content</h2>
  <div data-hour="0">0:00</div>
  <div data-hour="1">1:00</div>
  <div data-hour="2">2:00</div>
  <div data-hour="3">3:00</div>
  <div data-hour="4">4:00</div>
  <div data-hour="5">5:00</div>
  <div data-hour="6">6:00</div>
  <div data-hour="7">7:00</div>
  <div data-hour="8">8:00</div>
  <div data-hour="9">9:00</div>
  <div data-hour="10">10:00</div>
  <div data-hour="11">11:00</div>
  <div data-hour="12">12:00</div>
  <div data-hour="13">13:00</div>
  <div data-hour="14">14:00</div>
  <div data-hour="15">15:00</div>
  <div data-hour="16">16:00</div>
  <div data-hour="17">17:00</div>
  <div data-hour="18">18:00</div>
  <div data-hour="19">19:00</div>
  <div data-hour="20">20:00</div>
  <div data-hour="21">21:00</div>
  <div data-hour="22">22:00</div>
  <div data-hour="23">23:00</div>
</div>

<script>
let now = new Date(); // Get the current time
let elem = document.querySelector('div[data-hour="${now.getHours()}"]'); // Select the element that's supposed to be shown for the current time

if (elem) { // If its exists, show it
  elem.style.display = 'block';
}
  <script>
var henteTid = this.element.querySelector('.hentibutikk-e2'),
var currentTime = new Date().getHours();
if (currentTime >= 09 && currentTime <= 17) {
   henteTid.classList.add('inventory--high');
} else {
   henteTid.classList.add('inventory--low');
}
</script>
{% endcomment %}
{% endif %}